---
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: acme-http01-letsencrypt-prod
spec:
  acme:
    email: hello@clementd.fr
    server: https://acme-v02.api.letsencrypt.org/directory
    privateKeySecretRef:
      name: letsencrypt-prod-account-key
    solvers:
    - http01:
        ingress:
          class: nginx
---
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: acme-http01-letsencrypt-staging
spec:
  acme:
    email: hello@clementd.fr
    server: https://acme-staging-v02.api.letsencrypt.org/directory
    privateKeySecretRef:
      name: letsencrypt-staging-account-key
    solvers:
    - http01:
        ingress:
          class: nginx